<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card mt-4">
        <div class="card-header">
          Symptoms
        </div>
        <div class="card-body" >
          <div  *ngFor="let item of symptomData">
            <div class="row">
              <div class="col-md-8">
                {{item.symptom}}
              </div>
              <div class="col-md-4">
                <span class="badge badge-pill badge-danger">{{item.percentage}}</span>
              </div>
            </div> 
            <hr> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mt-4 left-card">
        <div class="card-header">
          I think I am infected. What now?
        </div>
        <div class="card-body" >
          hi
        </div>
      </div>
    </div>
  </div>
</div>