.mt-20px {
    margin-top: 20px;
}
.login-container{
    height:100%;
    background-image: url('../../../assets/images/corona1.jpg');
    background-size: cover;
}

.card{
    position: absolute;
    opacity:0.7;
    margin-left: 10em;
    margin-top: 7em;
}
