/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body{ 
  margin-top: 80px; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leftSide, .rightSide{
  height:100%;
  width:100%;
}

input::placeholder, .card {
  font-size: 0.8em;
}

.card-header{
  background-color: #b50919;
  font-size: x-large;
  color: #fff;
}
